:root {

	--font-size: 14.4px;
	--font-family: Helvetica, sans-serif;

	--header-height: 46px;
	--header-color: #2A2A2A;
	--text-color: #E2E2E2;
	--text-highlight-color: #ffffff;

	--accent-color: rgb(47, 114, 220);
}

body {
	font-size: var(--font-size);
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--header-color);
}