
<link rel="stylesheet" href="{{ static }}/css/save_prompt.css">

<div id="save-drawing-overlay">
	<div class="save-drawing-box">
		<h2>Save This Drawing</h2>
		<div id="save-drawing-response">

		</div>
		<form class="save-form smart-form">
			<input type="text" id="drawing-name" name="drawing-name" placeholder="Drawing Name" required>
			<button id="save-drawing-final-button" class="save-drawing-button mix-bg darken-mixing" onclick="saveDrawing()">
				Save
			</button>
		</form>
	</div>
</div>

<script>

	
	async function saveDrawing() {

		const scene = window.scene; // Access the global scene object
		const name = document.getElementById("drawing-name").value.trim();

		if (!name) return;

		await scene.saveToDB(name);
	}

	document.addEventListener('click', function(event) {
		
		const saveOverlay = document.getElementById('save-drawing-overlay');
		const saveBox = document.querySelector('.save-drawing-box');

		if (saveOverlay && !saveBox.contains(event.target)) {
			document.getElementById('save-prompt').innerHTML = '';
		}
	});

</script>