
{% extends "base.html" %}

{% block head_extra %}
	<link rel="stylesheet" href="{{ static }}/css/index.css">
{% endblock %}

{% block content %}

<div class="main-body">
	<div class="main-header">
		<div id="header" 
			hx-get="/header"
			hx-trigger="load"
			hx-target="#header"
			hx-swap="outerHTML">
		</div>
		<!-- O conteúdo do header será carregado aqui -->		
	</div>
	<div class="drawing-section">

	</div>

	<div class="canvas-section"
		hx-get="/canvas"
		hx-trigger="load"
		hx-target=".canvas-section"
		hx-swap="innerHTML">
	>
		
	</div>

	<div id="user-login-section-outer">
		
	</div>

</div>

{% endblock %}
