
:root {

	--header-color: #2A2A2A;
	--header-text-color: #E2E2E2;
	--header-text-color-hover: #ffffff;

	--background-color: #FFFFFF;

	--axis-color: #191919;
	--grid-color: #999999;
	--sub-grid-color: #E0E0E0;

	--number-text-color: #0c0c0c;
	--number-text-light-color: #999999;
	--number-text-font: 16px 'Roboto', sans-serif;

	--start-point-color: rgb(124, 189, 93);
	--target-point-color: rgb(188, 47, 47);

	--polygon-color-1: #0000FF;
	--polygon-color-2: #FFFF00;
	--polygon-color-3: #FF00FF;
	--polygon-color-4: #00FFFF;
	--polygon-color-5: #FF0000;
	--polygon-color-6: #00FF00;

	--solution-color: rgb(47, 114, 220);

	--point-radius: 8px;

	--button-light-color: #F2F4F5;
	--button-accent-color: rgb(47, 114, 220);
	--button-accent-color-hover: rgb(36, 87, 168);
	--button-accent-color-active: rgb(27, 66, 127);
	
	--primary-text-color: #0F0F0F;

	--header-height: 46px;

	--background-transition-duration: 0.1s;
}

[data-theme="dark"] {

	--header-color: #2A2A2A;
	--header-text-color: #E2E2E2;
	--header-text-color-hover: #ffffff;

	--background-color: #121212;

	--axis-color: #E0E0E0;
	--grid-color: #555555;
	--sub-grid-color: #2A2A2A;

	--start-point-color: #00FFFF;
	--target-point-color: #FF00FF;

	--polygon-color-1: #FFFF00;
	--polygon-color-2: #0000FF;
	--polygon-color-3: #00FF00;
	--polygon-color-4: #FF0000;
	--polygon-color-5: #00FFFF;
	--polygon-color-6: #FF00FF;

	--solution-color: rgb(220, 157, 47);

	--number-text-color: #E0E0E0;
	--number-text-light-color: #777777;

	--button-light-color: #F2F4F5;
	--button-accent-color: rgb(47, 114, 220);
	--button-accent-color-hover: rgb(36, 87, 168);
	--button-accent-color-active: rgb(27, 66, 127);

	--primary-text-color: #E2E2E2;
}

html {
	transition: background-color var(--background-transition-duration) ease, color var(--background-transition-duration) ease;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
	background-color: var(--background-color);
	color: var(--primary-text-color);
	max-width: 100vw;
	margin: 0 auto;
	line-height: 1.6;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--header-color);
	color: var(--header-text-color);
	text-align: center;
	height: var(--header-height);
}

.folder-button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	width: 40px;
	height: var(--header-height);
	fill: var(--header-text-color);
	margin-left: 3px;
}


.folder-button:hover {
	fill: var(--header-text-color-hover);
}

.folder-button:active {
	opacity: 0.5;
}

.folder-icon {
	width: 22px;
	height: 22px;
	stroke-width: 30px;
	fill: inherit;
}

.drawing-name {
	position: relative;
	align-content: center;
	font-size: 16px;
	padding-left: 12px;
	padding-right: 12px;
	border-left: 1px solid var(--header-text-color);
	height: 20px;
	line-height: 20px;
	margin: 0;
}

.save-button {
	background-color: var(--button-accent-color);
	border: none;
	color: var(--header-text-color);
	padding-left: 15px;
	padding-right: 15px;
	font-size: 14.4px;
	height: 34px;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.15s ease;
}

.save-button:hover {
	background-color: var(--button-accent-color-hover);
}

.save-button:active {
	background-color: var(--button-accent-color-active);
}

.main-content {
	flex: 1;
	display: flex;
	flex-direction: row;
}

.tool-bar {
	display: flex;
	flex-direction: column;
	padding: 12px;
	gap: 12px;
	border-right: 2px solid var(--button-accent-color);
}

.tool-button {

	background-color: var(--button-accent-color);
	border: none;
	padding: 10px;
	width: 47px;
	height: 47px;
	font-size: 14.4px;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.15s ease, outline 0.15s ease;

	display: flex;
	align-items: center;
	justify-content: center;

	outline: 2px solid var(--background-color);
}

.tool-button:hover {
	background-color: var(--button-accent-color-hover);
}

.tool-button:active {
	background-color: var(--button-accent-color-active);
}

.tool-button.active {
	outline: 2px solid var(--header-text-color);
}

.tool-icon {
	width: 24px;
	height: 24px;
}

.tool-icon rect, .tool-icon path {
	stroke: var(--header-text-color);
}

.tool-button:hover .tool-icon rect, .tool-button:hover .tool-icon path {
	stroke: var(--header-text-color);
}


.tool-button:active .tool-icon rect, .tool-button:active .tool-icon path {
	stroke: var(--header-text-color);
}

#drawing-canvas {
	height: calc(100vh - var(--header-height));
	flex: 1;
	width: 1px;
	background-color: var(--background-color);
}
